* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "GeistSans", sans-serif;
    color: black;
}

.container {
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 15px;
}

.header {
    display: flex;
    align-items: center;
    gap: 2%;

}

.header-nav {

    display: flex;
    gap: 4%;
    padding: 20px 20px;
    margin: 5px;
    list-style: none;

}

.header-nav a {
    padding: 10px;

}

.header-name {
    font-size: 30px;

}

.Main-content {

    display: flex;
    flex-direction: row;
    gap: 5%;
    flex-grow: 1;

}


.Sidebar {
    width: 25%;
    ;
    display: flex;
    flex-direction: column;
    border-right: solid 1px grey;


}

.Sidebar-nav {
    list-style: none;
}

.Sidebar-nav li,
.Sidebar-title {
    padding: 10px;
    width: 100%;
}

.Information-page {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 5%;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid grey;
}

.profile {
    margin-left: auto;
}



.footer {

    padding: 0px 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin-top: auto;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
}

a:hover {
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.hidden-burger,
.hidden-git {
    display: none;
}

.hidden-icons {
    display: none;
}

.Project a {
    padding: 10px;
    background-color: lightgray;
}

.lab {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


@media (max-width: 768px) {

    .header-name {
        font-size: 15px;
    }

    .Main-content {
        flex-direction: column;
    }

    .header {
        border-bottom: solid 1px grey;
    }

    .Sidebar {
        display: none;
    }

    .Information-page {
        width: 100%;
        gap: 20px;
    }

    .hidden-burger,
    .hidden-icons,
    .hidden-git {
        display: block;
    }

    #nav-menu {
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 15%;
        left: 0;
        
        width: 200px;
        background-color: lightgrey;
        transition: max-height 0.3s ease-out;
        z-index: 1000;
    }

    #nav-menu.show {
        max-height: 1000px;
        transition: max-height 0.3s ease-in;
    }

    #nav-menu .header-nav {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    #nav-menu .header-nav li a {
        padding: 15px 20px;
        display: block;
        width: 100%;
        text-align: left;
    }


}